.login-form {
    background: rgb(251, 145, 40);
    background: linear-gradient(125deg, rgba(251, 145, 40, 1) 0%, rgba(235, 188, 83, 1) 49%, rgba(250, 234, 58, 1) 100%);
}

.signup-form {
    background: rgb(250, 234, 58);
    background: linear-gradient(125deg, rgba(250, 234, 58, 1) 0%, rgba(235, 188, 83, 1) 49%, rgba(251, 145, 40, 1) 100%);
}

.login-form input:focus, .signup-form input:focus, .signup-form select:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.eye, .eye:hover, .eye:active, .eye:focus {
    background-color: white !important;
    color: black !important;
    border-color: #dee2e6 #dee2e6 #dee2e6 white !important;
    outline: none !important;
    box-shadow: none !important;
}

.password-validation {
    margin-top: 10px;
    font-size: 14px;
}

.password-validation ul {
    list-style: none;
    padding: 0;
}

.password-validation li {
    color: red;
}

.password-validation li.valid {
    color: green;
}